<div class="flex-col justify-center items-center h-screen bg-gray-800">
    <p class="title text-5xl pl-52 pt-36">
        Dalila Solis
    </p>
    <br>
    <p class="mini-intro text-2xl pl-52 break-words">
        Hi! I'm an aspiring Software Engineer driven by creativity and innovation, 
        with a passion for coding and technology!
    </p>
    <br>
    <img class="rounded-full h-52 w-52 pl-52" src="\assets\IMG_0763.JPG" alt="Dalila Solis">
    <img src="\assets\IMG_0763.JPG" alt="Dalila Solis">
</div>
